

.chatWindowWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(0, 25, 53);
    color: aliceblue;
    height: 100vh;
    
    
}

.infoBarSection{
    height: 6vh;
    background-color: rgb(32, 55, 79);
    padding-left: 20px;
    padding-top: 10px;
    font-size: 1.1rem;
    flex-shrink: 0;

}

.chatSection {
    flex: 1;            
    overflow-y: auto;     
    padding: 10px;
}

ul{
    padding: 0;
}


.footerSection{
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-direction: column;
    height: 6vh;
    width: 100%;
    background-color: rgb(32, 55, 79); 
    flex-shrink: 0;
}

.messageInput{
    background-color: transparent;
    width: 90%;
    font-size: 1rem;
    

}

.messageInput:focus{
    outline: none;
    border: none;
}
