
.messageItemWrapper{
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 20px;
    gap: 10px;
    /* border: 1px solid rgb(17, 255, 0); */
}


.myMessage {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    gap: 10px;
    background-color: #6e568d;
    text-align: right;
}

.otherMessage {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    gap: 10px;
    background-color: #3F3051;
    text-align: left;
}

.myMessage .time{
    font-size: 14px;
    color: #3F3051;
}


.otherMessage .time{
    font-size: 14px;
    color: #7a5f9c;
}



.messageItemWrapper:hover {
    background-color: none;
    
}

.messageItemSection{
    display: flex;
    align-items: center;
}

.msgProfilPic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
