

.ProfileCardWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 100%
}

.dialogHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    padding: 20px;
}
.formSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(22, 37, 53);
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;


}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;


}

.formSections{
    display: flex; 
    align-items: center;
    gap: 20px;

}

.formLabels{
    display: flex; 
    align-items: center;
    gap: 10px; 
    flex-direction: column;
    color: rgb(174, 174, 174);
    
}


.formField{
    display: flex; 
    align-items: center;
    gap: 10px;
    flex-direction: column;

}

.inputField{
    padding-left: 10px;
    background-color: rgb(32, 55, 79);
    width: 10vw;

}

.formBtn{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.PCProfilPic{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}