

.sidebarWrapper{
    width: 20vw;
    height: 100%;
    background: 
    linear-gradient(#412a5e,#18131e) padding-box,
    linear-gradient(to top, #3F3051 30%, #281F33 100%) border-box;
    color: aliceblue;
    border-right: 1px solid #18131e;
}


.headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 7vh;
    border-bottom: 1px solid #18131e;

}

.headerIcons{
    height: 25px;
    width: 25px;
}

.backBtn{
    background-color: transparent;
    border: none;
}