

.sidebarWrapper{
    width: 20vw;
    height: 100%;
    background-color: rgb(32, 55, 79);
    color: aliceblue;
    border-right: 1px solid rgb(0, 25, 53);
}


.headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 6vh;
    border-bottom: 1px solid rgb(0, 25, 53);

}

.headerIcons{
    height: 25px;
    width: 25px;
}

.backBtn{
    background-color: transparent;
    border: none;
}