

.sideNavWrapper{
    width: 20vw;
    height: 100%;
    background-color:rgb(0, 25, 53); 
    color: aliceblue;
    border-right: 1px solid rgb(32, 55, 79);

    /* Start off-screen */
    transform: translateX(-100%);
    z-index: 999;
}


.sideNavWrapper.open {
  /* Slide into view */
  transform: translateX(0);
}


.sideNavHeader{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    height: 16vh;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(32, 55, 79);

}

.backButton{
    width: 10%;

}
.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;

}

.SNProfilPic{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.sideNavOptions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 10px;
    padding-left: 10px;
    gap: 20px;
}